{% extends "base.html" %}
{% block title %}Images bookmarked{% endblock %}
{% block content %}
<h1>Images bookmarked</h1>

<p>Drag the following button to your bookmarks toolbar to bookmark
	images from other websites → <a href="javascript:{% include 'bookmarklet_launcher.js' %}"
									class="button">
		Bookmark it</a>
</p>
 Or you can paste img via url→
<form method="post">
	{{ form.as_p }}
	{% csrf_token %}
	<p><input type="submit" value="Add photo via url"></p>
</form>

<p>You have bookmarked
	{{ request.user.images_created.count }} image{{ request.user.images_created.count|pluralize }}.</p>

<div id="image-list">
	{% include "images/image/list_ajax.html" %}
</div>
{% endblock %}
	{% block domready %}
    var page = 1;
    var empty_page = false;
    var block_request = false;
    $(window).scroll(function () {
 
        var margin = $(window).height() - 100;
        if (window.innerHeight+window.scrollY+200>$(document).height() && empty_page == false &&
            block_request == false) {
            block_request = true;
            page += 1;
            $.get('?page=' + page, function (data) {
                if (data == '') {
                    empty_page = true;
                } else {
                    block_request = false;
                    $('#image-list').append(data);
                }
            });
        }
    });
    {%endblock %}