{% load static %}
{% load blog_tags %}
{% load i18n %}
<html lang="en">
<head>
	<title>{% block title %}{% endblock %}</title>
	<link href="{% static 'css/blog.css' %}" rel="stylesheet">
</head>
<body>

<div id="content">
	
	{% block content %}
	{% endblock %}

</div>

<div id="sidebar">
	<h2><a href ="{% url 'blog:post_list' %}">All Blogs</a></h2>
	<p>This is my blog.</p>
	{% block side %}
	{% endblock %}
	
	<h3>Latest posts</h3>
	{% show_latest_posts 3 %}
	
	<div class="go_to_dash">
		{% if request.user.is_authenticated %}
		{% blocktrans %}Hello {% endblocktrans %}{{ name }}!
		{{ request.user.first_name }},
		<a href="{% url 'account:logout' %}">{% trans "Logout" %}</a>{% trans " or go to" %}
		<a href="{% url 'account:dashboard' %}">{% trans "DashBoard" %}</a>
		{% else %}
		<a href="{% url 'account:login2' %}">{% trans "Log-in" %}</a>
		{% endif %}
	</div>
</div>
</body>
</html>