{% extends "base.html" %}
{% load account_tags %}
{% block title %}Edit your account{% endblock %}

{% block content %}
<h1>Edit your account</h1>
<div class='edit'>
	<form method="post" enctype="multipart/form-data">
		{{ user_form.as_p }}
		{{ profile_form.as_p }}
		{% csrf_token %}
		<div class="file_choose">
			Photo to use
			<input type="file" class="hide_file" name="ava">
		</div>
		
		<p><input type="submit" value="Save changes"></p>
	</form>

</div>
<div class="ava">
	<div class="hover13">
		<input type="file" id="file1" name="image" accept="image/*" style="display:none"/>
		<figure>
			<img src="{{ request.user.profile.photo.url }}" id="upfile1" style="cursor:pointer">
		</figure>
	</div>
</div>

{% endblock %}
